GITHUB_APP_ID=your-github-app-id-here
GITHUB_APP_PRIVATE_KEY_FILE=your-github-app-key-here
GITHUB_APP_INSTALLATION_ID=your-app-installation-id-here
GITHUB_REPO=the-repo-to-access-here

AWS_IAM_ROLE_KEY = 
AWS_IAM_ROLE_SECRET = 
AWS_ACCESS_KEY_ID=your-access-key-id-here
AWS_SECRET_ACCESS_KEY=your-secret-access-key-here
AWS_REGION=us-east-1

PORT=5000
DATABASE_URL=your-database-connection-string-here